/*
Theme Name: reach
Theme URI: https://reach.kaswebfix.com/reach
Description: Theme for Reach Out Studio
Version: 1.0
Author: @KasWebFix
Author URI: KasWebFix.com
*/


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text 

Headlines: Oswald
Text: Open Sans
Dark Red: #D74E53 // rgba(215,78,83,1.0);
HOVER Dark Red: #000;
Light Red: #F2D4D4
Grey; #3d3d3d
*/

*{
  margin: 0;
  padding: 0;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

/*MEDIUM*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*TABLET*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*MOBILE*/
@media (max-width: 767px) {

}

/* TABLET and BELOW */
@media (max-width: 991px) {

}





